
<h1> Module 1</h1>
<hr>
<h2>Cours 1 </h2>
    <iframe src="https://player.vimeo.com/video/203278852?h=d00036e011a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

    <p>
        cours 1 :

- dialog entre khalid et siyad
	- fassila est une virgule
	- 3alamato istifham est le point d'interogation
- discours en arabe du prof
- devoirs
	- lis le dialogue avec concentration
	- apprendre le dialogue par coeur après l'avoir plusieurs
	- écris le dialogue 5 fois minimim et essaie de faire une 6eme sans regarder
    </p>
    <img style="display: inline-block;" src="../../assets/images/001.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/002.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/003.png" alt="">
    <hr>
    <h2>Cours 2 </h2>

    <iframe src= "https://player.vimeo.com/video/203510380?h=a4331cdd0e" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <img style="display: inline-block;" src="../../assets/images/004.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/005.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/006.png" alt="">
    <img style="display: inline-block;" src="../../assets/images/007.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/008.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/009.png" alt="">
    <img style="display: inline-block;" src="../../assets/images/010.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/011.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/012.png" alt="">
    <hr>
    <h2>Cours 3 </h2>

    <iframe src= "https://player.vimeo.com/video/208735597?h=be9ef74fd1" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    <hr>

    <h2>Cours 4 </h2>
    <iframe src= "https://player.vimeo.com/video/208796800?h=449263f4ff" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>    <hr>
    <img style="display: inline-block;"  src="../../assets/images/013.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/014.png" alt="">
    <h2>Cours 5 </h2>
    <iframe src= "https://player.vimeo.com/video/208945111?h=579cf810da" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <img style="display: inline-block;"  src="../../assets/images/015.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/016.png" alt="">
    <hr>

    <h2>Cours 6 </h2>
    <iframe src= "https://player.vimeo.com/video/209051437?h=bd4e35a339" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <img style="display: inline-block;"  src="../../assets/images/0017.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0018.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0019.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0020.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0021.png" alt="">
    <hr>

    <h2>Cours 7 </h2>
    <iframe src= "https://player.vimeo.com/video/209195442?h=5461fddcb7" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <img style="display: inline-block;"  src="../../assets/images/0022.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0023.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0024.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0025.png" alt="">
    <img style="display: inline-block;"  src="../../assets/images/0026.png" alt="">
<hr>
<hr>
<hr>
<h1>Module 2 </h1>
<hr>
<h2>Cours 1</h2>

<iframe src= "https://player.vimeo.com/video/209369701?h=1b880c146a" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
<p>le ya de ismii est le ya el motakalim</p>
<p>le ka est de ismoka et le ka el khitab</p>
<img style="display: inline-block;"  src="../../assets/images/0027.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0028.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0029.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0030.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0031.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0032.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0033.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0034.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0035.png" alt="">
<img style="display: inline-block;"  src="../../assets/images/0036.png" alt="">